 body{  
    min-height:100vh;
    background:linear-gradient(to top, rgb(175, 29, 180),blue);
}
.head_logo{
    
    text-align:center;
}
.login_card{
    background-color: rgba(226, 222, 222, 0.696);
    min-width:340px;
    position:relative;
    border-radius:10px;
    z-index: 1;
}
.login_card::before{
    background-color: rgba(226, 222, 222, 0.4596);
    position:absolute;
    content:'';
    inset:0;
    transform:rotate(-5deg);
    border-radius:10px;
    z-index:-1;
    
}
.ema_logo{
    padding:15px 25% 0;
}
.pass_logo{
    padding:15px 25% 0;
}
.check_logo{
    padding:10px 0;
}
.logo_form{
    display:flex;
    flex-direction: column;
    gap:7px;
}
.logo_form>button{
    
    width:25%;
    margin:0 auto;
    margin-bottom:15px ;
    border-radius: 10px;
    
}
ul{
    display:flex;
    list-style: none;
    padding-left:0;
}
a:hover{
    background-color: rgb(95, 95, 187);
}
a:focus{
    outline: none;
    background-color: rgb(95, 95, 187);
}
li>a{
    display:block;
    text-decoration:none;
    color:black;
    padding:1em;
    background-color: rgb(167, 160, 160);
    border:1px solid black;
    border-radius:45px;
    white-space:nowrap;
}
.submenu{
    
    flex-direction:column;
    position:absolute;
    clip:rect(0 0 0 0);
    width:1px;
    height:1px;
    margin:-1px;
    z-index: 2;
}
li{
    position:relative;
    text-align:center;
    
}
li:focus-within > .submenu,
li:hover .submenu{
    clip:auto;
    width:auto;
    height:auto;
    margin:0 px;
}
.horizontal{
    flex-direction: column;
    width: 200px;
}
.horizontal .submenu{
    top: 0;
    left:100%;
}
section{
    display:flex;
    align-items:center;
    justify-content: center;
}
